In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,5.4112,100.3354,80.53,92,40,2.30,scattered clouds
1,1,Sao Bartolomeu De Messines,PT,37.2602,-8.2867,70.41,84,10,2.89,clear sky
2,2,Sorland,NO,67.6670,12.6934,48.06,85,100,12.73,overcast clouds
3,3,Lagoa,PT,39.0500,-27.9833,63.54,84,100,15.41,overcast clouds
4,4,Yellowknife,CA,62.4560,-114.3525,73.92,31,75,9.22,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria.. 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 70
What is the maximum temperature you would like for your vacation? 95

In [4]:
# 3. Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,5.4112,100.3354,80.53,92,40,2.30,scattered clouds
1,1,Sao Bartolomeu De Messines,PT,37.2602,-8.2867,70.41,84,10,2.89,clear sky
4,4,Yellowknife,CA,62.4560,-114.3525,73.92,31,75,9.22,broken clouds
5,5,Mahebourg,MU,-20.4081,57.7000,70.25,64,58,16.20,broken clouds
7,7,Laureles,US,26.1092,-97.4941,88.11,63,40,16.11,scattered clouds
8,8,Itarema,BR,-2.9248,-39.9167,75.65,75,5,11.50,clear sky
11,11,Vaini,TO,-21.2000,-175.2000,78.96,73,20,8.05,few clouds
12,12,Guasdualito,VE,7.2424,-70.7324,73.17,85,84,3.56,broken clouds
13,13,Manacapuru,BR,-3.2997,-60.6206,74.89,91,16,1.63,few clouds
15,15,Hambantota,LK,6.1241,81.1185,79.86,83,100,16.84,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                312
City                   312
Country                312
Lat                    312
Lng                    312
Max Temp               312
Humidity               312
Cloudiness             312
Wind Speed             312
Current Description    312
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,5.4112,100.3354,80.53,92,40,2.30,scattered clouds
1,1,Sao Bartolomeu De Messines,PT,37.2602,-8.2867,70.41,84,10,2.89,clear sky
4,4,Yellowknife,CA,62.4560,-114.3525,73.92,31,75,9.22,broken clouds
5,5,Mahebourg,MU,-20.4081,57.7000,70.25,64,58,16.20,broken clouds
7,7,Laureles,US,26.1092,-97.4941,88.11,63,40,16.11,scattered clouds

In [7]:
#Clean data travel
clean_travel_cities.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description'],
      dtype='object')

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

In [9]:
# 5b. Create a new column "Hotel Name".
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,
1,Sao Bartolomeu De Messines,PT,70.41,clear sky,37.2602,-8.2867,
4,Yellowknife,CA,73.92,broken clouds,62.4560,-114.3525,
5,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,
7,Laureles,US,88.11,scattered clouds,26.1092,-97.4941,
8,Itarema,BR,75.65,clear sky,-2.9248,-39.9167,
11,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,
12,Guasdualito,VE,73.17,broken clouds,7.2424,-70.7324,
13,Manacapuru,BR,74.89,few clouds,-3.2997,-60.6206,
15,Hambantota,LK,79.86,overcast clouds,6.1241,81.1185,

In [10]:
len(hotel_df)

312

In [11]:
# 6a. Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,Cititel Penang
1,Sao Bartolomeu De Messines,PT,70.41,clear sky,37.2602,-8.2867,Casa do Adro
4,Yellowknife,CA,73.92,broken clouds,62.4560,-114.3525,The Explorer Hotel
5,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Laureles,US,88.11,scattered clouds,26.1092,-97.4941,Los Fresnos Inn
8,Itarema,BR,75.65,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
11,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Guasdualito,VE,73.17,broken clouds,7.2424,-70.7324,Hotel Cuibas
13,Manacapuru,BR,74.89,few clouds,-3.2997,-60.6206,Novo Hotel
15,Hambantota,LK,79.86,overcast clouds,6.1241,81.1185,Bungalow 63

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,Cititel Penang
1,Sao Bartolomeu De Messines,PT,70.41,clear sky,37.2602,-8.2867,Casa do Adro
4,Yellowknife,CA,73.92,broken clouds,62.4560,-114.3525,The Explorer Hotel
5,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Laureles,US,88.11,scattered clouds,26.1092,-97.4941,Los Fresnos Inn
8,Itarema,BR,75.65,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
11,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Guasdualito,VE,73.17,broken clouds,7.2424,-70.7324,Hotel Cuibas
13,Manacapuru,BR,74.89,few clouds,-3.2997,-60.6206,Novo Hotel
15,Hambantota,LK,79.86,overcast clouds,6.1241,81.1185,Bungalow 63

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
gmaps.configure(api_key="AIzaSyDniQkOfhHig2rNvmVkGlkFWt6Pgrk9W2U")

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))