In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,Cititel Penang
1,7,Laureles,US,88.11,scattered clouds,26.1092,-97.4941,Los Fresnos Inn
2,8,Itarema,BR,75.65,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
3,11,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Keleti Beach Resort
4,15,Hambantota,LK,79.86,overcast clouds,6.1241,81.1185,Bungalow 63

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Trip into India.
# Grab the first hotel from the results and store the name.
india_vacation_df = vacation_df.loc[(vacation_df["Country"] == "IN")]
india_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,76,Port Blair,IN,81.03,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
42,148,Veraval,IN,83.98,few clouds,20.9000,70.3667,Lords Inn Somnath
88,349,Kavaratti,IN,82.29,moderate rain,10.5669,72.6420,Hotels in Lakshadweep Islands
103,401,Gondal,IN,83.26,broken clouds,21.9667,70.8000,Orchard Palace
117,447,Simdega,IN,79.43,heavy intensity rain,22.6167,84.5167,Circuit House
122,485,Banposh,IN,80.28,overcast clouds,22.2500,84.8000,MAYFAIR Rourkela
124,490,Kekri,IN,86.32,broken clouds,25.9667,75.1500,Rajasthani Pavitra Bhojnalaya
147,547,Amalapuram,IN,78.60,overcast clouds,16.5833,82.0167,swayamprabha service apartments
152,558,Giddalur,IN,80.89,overcast clouds,15.3500,78.9167,Shivaji Lodge
160,592,Sillod,IN,79.54,overcast clouds,20.3000,75.6500,à¤ªà¤µà¤¨
162,601,Porbandar,IN,84.88,few clouds,21.6422,69.6093,Lords Inn Porbandar
176,651,Dwarka,IN,84.42,broken clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
177,652,Chatrapur,IN,84.24,overcast clouds,19.3500,84.9833,Circuit House
190,694,Aron,IN,84.51,overcast clouds,24.3833,77.4167,Shri Ram marriage garden aron
193,698,Katra,IN,78.94,clear sky,32.9833,74.9500,KC Residency Katra (4 Star) Experience the Lux...
197,706,Kamalapuram,IN,86.40,heavy intensity rain,14.5833,78.6500,Arya visha hotel

In [7]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [8]:
india_vacation_df = india_vacation_df[new_column_order]

In [9]:
india_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
18,76,Port Blair,IN,11.6667,92.7500,81.03,overcast clouds
42,148,Veraval,IN,20.9000,70.3667,83.98,few clouds
88,349,Kavaratti,IN,10.5669,72.6420,82.29,moderate rain
103,401,Gondal,IN,21.9667,70.8000,83.26,broken clouds
117,447,Simdega,IN,22.6167,84.5167,79.43,heavy intensity rain
122,485,Banposh,IN,22.2500,84.8000,80.28,overcast clouds
124,490,Kekri,IN,25.9667,75.1500,86.32,broken clouds
147,547,Amalapuram,IN,16.5833,82.0167,78.60,overcast clouds
152,558,Giddalur,IN,15.3500,78.9167,80.89,overcast clouds
160,592,Sillod,IN,20.3000,75.6500,79.54,overcast clouds
162,601,Porbandar,IN,21.6422,69.6093,84.88,few clouds
176,651,Dwarka,IN,22.2394,68.9678,84.42,broken clouds
177,652,Chatrapur,IN,19.3500,84.9833,84.24,overcast clouds
190,694,Aron,IN,24.3833,77.4167,84.51,overcast clouds
193,698,Katra,IN,32.9833,74.9500,78.94,clear sky
197,706,Kamalapuram,IN,14.5833,78.6500,86.40,heavy intensity rain

In [27]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from IN List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from IN List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from IN List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from IN List you would like for your trip? "))
end = float(input("What is your Last City_ID from IN List you would like for your trip? "))

What is your Starting City_ID from IN List you would like for your trip? 401
What is your First Stop City_ID from IN List you would like for your trip? 447
What is your Second Stop City_ID from IN List you would like for your trip? 485
What is your Thirth Stop City_ID from IN List you would like for your trip? 490
What is your Last City_ID from IN List you would like for your trip? 401

In [31]:
import numpy as np

In [32]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Gondal")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Gondal")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Simdega")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Banposh")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Kekri")]

In [33]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy(), vacation_start["Lng"].to_numpy()
end = vacation_end["Lat"].to_numpy(), vacation_end["Lng"].to_numpy()
stop1 = vacation_stop1["Lat"].to_numpy(), vacation_stop1["Lng"].to_numpy()
stop2 = vacation_stop2["Lat"].to_numpy(), vacation_stop2["Lng"].to_numpy()
stop3 = vacation_stop3["Lat"].to_numpy(), vacation_stop3["Lng"].to_numpy()
print(start, end, stop1, stop2, stop3)

(array([21.9667]), array([70.8])) (array([21.9667]), array([70.8])) (array([22.6167]), array([84.5167])) (array([22.25]), array([84.8])) (array([25.9667]), array([75.15]))

In [34]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (21.9667, 70.8)
end = (21.9667, 70.8)
stop1 = (22.6167, 84.5167)
stop2 = (22.25, 84.8)
stop3 = (25.9667, 75.15)

fig = gmaps.figure()
round_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,401,Gondal,IN,83.26,broken clouds,21.9667,70.8000,Orchard Palace
1,447,Simdega,IN,79.43,heavy intensity rain,22.6167,84.5167,Circuit House
2,485,Banposh,IN,80.28,overcast clouds,22.2500,84.8000,MAYFAIR Rourkela
3,490,Kekri,IN,86.32,broken clouds,25.9667,75.1500,Rajasthani Pavitra Bhojnalaya

In [43]:
# 9. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

In [45]:
# 11b. Display thee figure
fig

Figure(layout=FigureLayout(height='420px'))